/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/

/**************************************/
/*              GLOBALS               */
/**************************************/
/* media queries */
@media only screen and (max-width: 479px) {
	body {
		margin: 1.5em;
	}
	#header h1 {
		font-size: 500%;
	}
	#wrapper {
		font-size: 300%;
		line-height: 1.5em;
	}
	pre {
		overflow: auto;
	}
	div.span-1,div.span-2,div.span-3,div.span-4,div.span-5,div.span-6,div.span-7,div.span-8,div.span-9,div.span-10,div.span-11,div.span-12,div.span-13,div.span-14,div.span-15,div.span-16,div.span-17,div.span-18,div.span-19,div.span-20,div.span-21,div.span-22,div.span-23,div.span-24
		{
		float: none;
		width: 100%;
	}
	button[type] {
		line-height: normal;
		font-size: 300%;
	}
	textarea {
		font-seze: 300%;
	}
}

/**************************************/
/*              HEADER                */
/**************************************/

/**************************************/
/*             NAVIGATION             */
/**************************************/

/**************************************/
/*            MAIN CONTENT            */
/**************************************/
ul.keywords {
	list-style-type: none;
	margin: 0px;
}

ul.keywords li {
	float: left;
	padding: 0 1em;
	margin-bottom: 10px;
	border: 1px solid;
	background: #BBCEF1;
	color: #000000;
	border-color: #85a6e5;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

/**************************************/
/*               FOOTER               */
/**************************************/